* {
	margin: 0;
	padding: 0;
	border: 0;
}
main {
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(5, 200px);
	grid-template-rows: repeat(3, 200px);
	justify-content: center;
	align-content: center;
	gap: 2px;
}
.box {
	background-color: cadetblue;
}
.box:nth-child(even) {
	background-color: rgba(95, 158, 160, 0.712);
}
